<% include ../partials/header %>
<div class="row">
    <div class="col-md-3">
        <p class="lead">Pixel</p>
        <div class="list-group" >
            <li class="list-group-item active" style="background:#222;">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>
    </div>
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src="<%= campground.image %>">
            <div class="caption-full">
                <h4 class="pull-right">$9.00/night</h4>
                <h4><a><%= campground.name %></a></h4>
                <p><%= campground.description %></p>
                <p><em>Submitted by <%= campground.author.username %></em></p>
                <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                    <form method="get" action="/campgrounds/<%= campground._id %>/edit">
                        <button class="ui green basic button huge" type="submit" style="display: inline;
    float: left;">Edit</button>
                    </form>
                    <form id="form-delete" method="post" action="/campgrounds/<%= campground._id %>?_method=DELETE">
                        <button class="ui violet basic button huge" type="submit">Delete</button>
                    </form>
                <% } %>
            </div>
        </div>
        <div class="well">
            <div class="text-right">
                <a class="ui green basic button" style="border-radius: 0px; font-size: 12px;" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>
            </div>
            <hr>
            <% campground.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right">10 days ago</span>
                        <p>
                            <%= comment.text %>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="ui yellow basic button mini">Edit</a>
                            <form method="post" style="    display: block;
    float: left;" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE">
                                <input type="submit" class="ui red basic button mini" value="Delete">
                            </form>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<% include ../partials/footer %>